<p id="notice"></p>

<div id="error_explanation">
<% if @book.errors.any? %>
  <% if @book.errors.count == 1 %>
    <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
  <% else %>
    <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="container px-5 px-sm-0">
<div class="row">
    
  <div class="col-md-3">  
<!--User info-->
<!--部分テンプレートを適用、テンプレート保存先は_list.html.erb-->
<!--部分テンプレートは以下の記述で呼び出す、_listの_は省略可能、books/list.html.erbが通常の呼び方だが、拡張子は省略でき、同じフォルダ内から呼び出す場合はフォルダ名も省略できる-->
<%= render 'list', user: @user %>

<!--新規投稿-->
<%= render 'new', book: @book %>

  </div>
  
<!--books投稿一覧-->
<div class="col-md-8 offset-md-1">
<h1>Books</h1>

<!--tableの作成-->
<table class="table table-hover table-inverse">
  <!--thead 水平方向グループ化　ヘッダー作成-->
  <thead>
    <!--tr 行を指定-->
    <tr>
      <!--th 列を指定　ヘッダーは４列指定-->
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <!--４行目に設定　colspan="3"は左の２つを含んで３つ分包含するイメージ？　メンター質問行う。-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <!--eachメソッドで@book(Book.all)の各レコードをbookに代入し、繰り返し表示-->
  <% @books.each do |book| %>
   <tr>
    <!--投稿ユーザーのプロフィールイメージ-->
    <td>
     <%= image_tag(book.user.get_profile_image(100,100)) %>
    </td>
    <!--Bookモデルのタイトルカラム」-->
    <td>
    <%= link_to book.title, book_path(book) %>
    </td>
    <!--Bookモデルのbodyカラム-->
    <td>
    <%= book.body %>
    </td>
   </tr>
  <%end%>
  </tbody>

</table>

 </div>
 
</div>
</div>

<!--やること-->
<!--editボタンの編集-->

