<p id="notice"></p>
<div class="container">
<div class="row">
  
  <div class="col-md-3">
<!--User info-->
<!--@book_showのuser_idカラムを持つuserのprofile_imageを表示-->
<%= render 'list', user: @book_show.user %>

<!--新規投稿 -->
<%= render 'new', book: @book %>

  </div>

<!--bookの詳細-->
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
      <!--image_tagで（）内の画像を表示させ、link_toでその画像をリンクにする。-->
      <%= link_to image_tag(@book_show.user.get_profile_image(100,100)), user_path(@book_show.user) %>
      <br>
      <!--profile_image下に、nameカラムの表示、userの詳細ページにリンク作成-->
      <%= link_to @book_show.user.name, user_path(@book_show.user) %>
      </td>

      <td>
      <!--抽出したbookレコードのタイトルカラム表示、同一ページにリンク-->
      <%= link_to @book_show.title, book_path(@book_show) %>
      </td>

      <td>
      <%= @book_show.body %>
      </td>

       <td>
      <!--もし、book_showの持つuser_idがcurrent_userと合致したら、if以下を実行-->
      <% if @book_show.user_id == current_user.id %>
      <%= link_to "Edit", edit_book_path(@book_show), class: "btn btn-success" %>
      <% end %>
       </td>

      <td>
      <% if @book_show.user_id == current_user.id %>
      <!--link to_ヘルパーメソッドの作る要素内で、data: { confirm: }属性を使用し、確認メッセージを表示--->
      <!--link to_は、ruby on railsで使用するHTMLのa要素を作るヘルパーメソッド-->
      <%= link_to "Destroy", book_path(@book_show), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>


</div>
</div>


